<a href="https://colab.research.google.com/github/adtgroup8/project/blob/main/salaries_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **WhatsMyWorth Shiny App: Data Preprocessing**
This notebook contains code that preprocesses our original Kaggle dataset. The output is a preprocessed dataset that is loaded into our MySQL database and used by our Shiny app.

# Link to Google Drive
The code in this section links this Google Colab notebook to our team's Google Drive so that the "salaries.csv" dataset in the drive can be accessed. This notebook will then output "salaries_preprocessed.csv" to the drive. Do not run this section if you would like to download "salaries.csv" to your local machine and run this preprocessing code (please see next section).

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:


!pwd

/content

In [3]:
!ls "/content/drive/MyDrive"

 code
'Colab Notebooks'
 dataset
'Final Project Part 2 - Group 8 (1)'
'Final Project Part 2 - Group 8.gdoc'
'Final Project Video Demo - Group 8.gslides'
'Group8-Final Project Part 3-Technical Report.gdoc'
'Project Proposal - Group 8.gdoc'
 ProjectSchema.drawio
 ProjectSchemaV2.drawio
 ProjectSchemaV3.drawio
 ProjectSchemaV4.drawio
'table creation owner.PNG'
 UI.drawio
'Untitled Diagram.drawio.png'
 Video

# Read and Preprocess Dataset

In [4]:
import pandas as pd
import numpy as np

If you would like to run this code on our "salaries.csv" dataset, please download the csv to your local machine, and change the code below to

df = pd.read_csv("csv_location_in_your_local_directory/salaries.csv").

In [5]:
#Python code to pre-process the dataset

df = pd.read_csv("/content/drive/MyDrive/dataset/salaries.csv")
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Data Analyst,93919,USD,93919,US,0,US,M
1,2023,SE,FT,Data Analyst,51962,USD,51962,US,0,US,M
2,2023,SE,FT,Data Analyst,93919,USD,93919,US,0,US,M
3,2023,SE,FT,Data Analyst,51962,USD,51962,US,0,US,M
4,2023,SE,FT,Data Architect,180000,USD,180000,US,100,US,M

In [6]:
#Add user id column to the dataset as every row is an input from individual user
df['user_id'] = [1001+i for i in range(len(df))]
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,user_id
0,2023,SE,FT,Data Analyst,93919,USD,93919,US,0,US,M,1001
1,2023,SE,FT,Data Analyst,51962,USD,51962,US,0,US,M,1002
2,2023,SE,FT,Data Analyst,93919,USD,93919,US,0,US,M,1003
3,2023,SE,FT,Data Analyst,51962,USD,51962,US,0,US,M,1004
4,2023,SE,FT,Data Architect,180000,USD,180000,US,100,US,M,1005

In [7]:
#Create a new attribute as job_field to aggregate the job types into categories
job_field = []
for i in df.job_title:
  # print(i)
  if "Scien" in i or "Research" in i or 'AI' in i:
    # print("data science")
    job_field.append("data science")
  elif "Analyst" in i or "Visualization" in i or 'Analytics' in i:
    # print("data analytics")

    job_field.append("data analytics")
  elif "Machine" in i or "ML" in i or "Deep" in i or 'NLP' in i or 'Vision' in i:
    # print("machine learning")

    job_field.append("machine learning")
  elif ("Data Engineer" in i) or ("Quality" in i) or ("Data Manager" in i) or "Integration" in i or "Model" in i or 'Data Operations' in i or 'Database' in i  or 'Data Lead' in i or 'DevOps' in i or 'ETL' in i or 'Data Infrastructure' in i or 'Data Management' in i or 'Data Specialist' in i or 'Data Strategist' in i or  'Head of Data' in i:
    # print("data engineering")

    job_field.append("data engineering")
  elif "Business Intelligence" in i or "BI" in i:
    # print("business intelligence")

    job_field.append("business intelligence")
  elif "Architect" in i:
    # print("analytics architect")

    job_field.append("analytics architect")
  else:
    job_field.append("other")





df['job_field'] = job_field
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,user_id,job_field
0,2023,SE,FT,Data Analyst,93919,USD,93919,US,0,US,M,1001,data analytics
1,2023,SE,FT,Data Analyst,51962,USD,51962,US,0,US,M,1002,data analytics
2,2023,SE,FT,Data Analyst,93919,USD,93919,US,0,US,M,1003,data analytics
3,2023,SE,FT,Data Analyst,51962,USD,51962,US,0,US,M,1004,data analytics
4,2023,SE,FT,Data Architect,180000,USD,180000,US,100,US,M,1005,analytics architect
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5326,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L,6327,data science
5327,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L,6328,data science
5328,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S,6329,data science
5329,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L,6330,data analytics
5330,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L,6331,data science

In [8]:
#Check how many job titles are assigned as "other" for job_field
df1 = df[df['job_field']=='other']
np.unique(df1['job_title'])

array(['Autonomous Vehicle Technician'], dtype=object)

In [9]:
#Create a new field for North America (US or Canada) and non-North America location identification
df['company_location_na'] = [True if i in ['US', 'CA'] else False for i in df.company_location]
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,user_id,job_field,company_location_na
0,2023,SE,FT,Data Analyst,93919,USD,93919,US,0,US,M,1001,data analytics,True
1,2023,SE,FT,Data Analyst,51962,USD,51962,US,0,US,M,1002,data analytics,True
2,2023,SE,FT,Data Analyst,93919,USD,93919,US,0,US,M,1003,data analytics,True
3,2023,SE,FT,Data Analyst,51962,USD,51962,US,0,US,M,1004,data analytics,True
4,2023,SE,FT,Data Architect,180000,USD,180000,US,100,US,M,1005,analytics architect,True

In [10]:
df.describe()

         work_year        salary  salary_in_usd  remote_ratio      user_id
count  5331.000000  5.331000e+03    5331.000000   5331.000000  5331.000000
mean   2022.568374  1.843100e+05  146204.487901     43.078222  3666.000000
std       0.639804  5.736895e+05   64490.097112     48.571694  1539.071473
min    2020.000000  1.400000e+04   15000.000000      0.000000  1001.000000
25%    2022.000000  1.036000e+05  100000.000000      0.000000  2333.500000
50%    2023.000000  1.422000e+05  140250.000000      0.000000  3666.000000
75%    2023.000000  1.859000e+05  185000.000000    100.000000  4998.500000
max    2023.000000  3.040000e+07  450000.000000    100.000000  6331.000000

In [11]:
np.unique(df['job_field'])

array(['analytics architect', 'business intelligence', 'data analytics',
       'data engineering', 'data science', 'machine learning', 'other'],
      dtype=object)

In [12]:
#Let's check how many records are available for each datatype
print("data science         :",df['job_field'].value_counts()['data science'])
print("data analytics       :",df['job_field'].value_counts()['data analytics'])
print("machine learning     :",df['job_field'].value_counts()['machine learning'])
print("data engineering     :",df['job_field'].value_counts()['data engineering'])
print("business intelligence:",df['job_field'].value_counts()['business intelligence'])
print("analytics architect  :",df['job_field'].value_counts()['analytics architect'])
print("other                :",df['job_field'].value_counts()['other'])

data science         : 1816
data analytics       : 1115
machine learning     : 652
data engineering     : 1536
business intelligence: 74
analytics architect  : 136
other                : 2

In [13]:
#Create a new field as "employment_mode" to define if its a onsite, hybrid or remote work based on original field as remote
employment_mode=[]
for i in df.remote_ratio:
  if i==100:
    employment_mode.append('Remote')
  elif i ==0 :
    employment_mode.append('Onsite')
  else:
    employment_mode.append('Hybrid')


df['employment_mode'] = employment_mode
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,user_id,job_field,company_location_na,employment_mode
0,2023,SE,FT,Data Analyst,93919,USD,93919,US,0,US,M,1001,data analytics,True,Onsite
1,2023,SE,FT,Data Analyst,51962,USD,51962,US,0,US,M,1002,data analytics,True,Onsite
2,2023,SE,FT,Data Analyst,93919,USD,93919,US,0,US,M,1003,data analytics,True,Onsite
3,2023,SE,FT,Data Analyst,51962,USD,51962,US,0,US,M,1004,data analytics,True,Onsite
4,2023,SE,FT,Data Architect,180000,USD,180000,US,100,US,M,1005,analytics architect,True,Remote

In [14]:
# Drop the following columns:
df = df.drop(columns=['salary', 'salary_currency', 'employee_residence', 'remote_ratio'])
df.head()

,work_year,experience_level,employment_type,job_title,salary_in_usd,company_location,company_size,user_id,job_field,company_location_na,employment_mode
0,2023,SE,FT,Data Analyst,93919,US,M,1001,data analytics,True,Onsite
1,2023,SE,FT,Data Analyst,51962,US,M,1002,data analytics,True,Onsite
2,2023,SE,FT,Data Analyst,93919,US,M,1003,data analytics,True,Onsite
3,2023,SE,FT,Data Analyst,51962,US,M,1004,data analytics,True,Onsite
4,2023,SE,FT,Data Architect,180000,US,M,1005,analytics architect,True,Remote

In [15]:
# move user_id column to 1st position
first_column = df.pop('user_id')
df.insert(0, 'user_id', first_column)
df.head()

,user_id,work_year,experience_level,employment_type,job_title,salary_in_usd,company_location,company_size,job_field,company_location_na,employment_mode
0,1001,2023,SE,FT,Data Analyst,93919,US,M,data analytics,True,Onsite
1,1002,2023,SE,FT,Data Analyst,51962,US,M,data analytics,True,Onsite
2,1003,2023,SE,FT,Data Analyst,93919,US,M,data analytics,True,Onsite
3,1004,2023,SE,FT,Data Analyst,51962,US,M,data analytics,True,Onsite
4,1005,2023,SE,FT,Data Architect,180000,US,M,analytics architect,True,Remote

In [16]:
# replace country codes with country names
replacements = {'US': 'United States', 'GB': 'Great Britain', 'DE': 'Germany', 'CA': 'Canada', 'TR': 'Turkey', 'FR': 'France', 'PT': 'Portugal', 'BR': 'Brazil',
                'AU': 'Australia', 'ES': 'Spain', 'CH': 'Switzerland', 'AD': 'Andorra', 'NL': 'Netherlands', 'EC': 'Ecuador', 'MX': 'Mexico', 'IL': 'Israel',
                'IN': 'India', 'NG': 'Nigeria', 'SA': 'Saudi Arabia', 'CO': 'Colombia', 'PL': 'Poland', 'NO': 'Norway', 'GH': 'Ghana', 'AR': 'Argentina',
                'JP': 'Japan', 'RU': 'Russia', 'ZA': 'South Africa', 'IT': 'Italy', 'HK': 'Hong Kong', 'CF': 'Central African Republic', 'FI': 'Finland',
                'UA': 'Ukraine', 'IE': 'Ireland', 'SG': 'Singapore', 'SE': 'Sweden', 'SI': 'Slovenia', 'TH': 'Thailand', 'HR': 'Croatia', 'EE': 'Estonia',
                'AM': 'Armenia', 'BA': 'Bosnia and Herzegovina', 'KE': 'Kenya', 'LV': 'Latvia', 'RO': 'Romania', 'PK': 'Pakistan', 'LT': 'Lithuania', 'IR': 'Iran',
                'BS': 'Bahamas', 'HU': 'Hungary', 'AT': 'Austria', 'PR': 'Puerto Rico', 'AS': 'American Samoa', 'GR': 'Greece', 'DK': 'Denmark', 'PH': 'Philippines',
                'BE': 'Belgium', 'ID': 'Indonesia', 'EG': 'Egypt', 'AE': 'United Arab Emirates', 'MY': 'Malaysia', 'HN': 'Honduras', 'CZ': 'Czech Republic',
                'DZ': 'Algeria', 'IQ': 'Iraq', 'CN': 'China', 'NZ': 'New Zealand', 'CL': 'Chile', 'MD': 'Moldova', 'LU': 'Lithuania', 'MT': 'Malta'}

In [17]:
df['company_location'] = df['company_location'].replace(replacements)
df.head()

,user_id,work_year,experience_level,employment_type,job_title,salary_in_usd,company_location,company_size,job_field,company_location_na,employment_mode
0,1001,2023,SE,FT,Data Analyst,93919,United States,M,data analytics,True,Onsite
1,1002,2023,SE,FT,Data Analyst,51962,United States,M,data analytics,True,Onsite
2,1003,2023,SE,FT,Data Analyst,93919,United States,M,data analytics,True,Onsite
3,1004,2023,SE,FT,Data Analyst,51962,United States,M,data analytics,True,Onsite
4,1005,2023,SE,FT,Data Architect,180000,United States,M,analytics architect,True,Remote

In [18]:
# replace experience level with unabbreviated terms
replacements = {'EN': 'Entry-level', 'MI': 'Mid-level', 'SE': 'Senior-level', 'EX': 'Executive/Director'}
df['experience_level'] = df['experience_level'].replace(replacements)
df.head()

,user_id,work_year,experience_level,employment_type,job_title,salary_in_usd,company_location,company_size,job_field,company_location_na,employment_mode
0,1001,2023,Senior-level,FT,Data Analyst,93919,United States,M,data analytics,True,Onsite
1,1002,2023,Senior-level,FT,Data Analyst,51962,United States,M,data analytics,True,Onsite
2,1003,2023,Senior-level,FT,Data Analyst,93919,United States,M,data analytics,True,Onsite
3,1004,2023,Senior-level,FT,Data Analyst,51962,United States,M,data analytics,True,Onsite
4,1005,2023,Senior-level,FT,Data Architect,180000,United States,M,analytics architect,True,Remote

In [19]:
# replace employment type with unabbreviated terms
replacements = {'CT': 'Contract', 'FL': 'Freelance', 'FT': 'Full-time', 'PT': 'Part-time'}
df['employment_type'] = df['employment_type'].replace(replacements)
df.head()

,user_id,work_year,experience_level,employment_type,job_title,salary_in_usd,company_location,company_size,job_field,company_location_na,employment_mode
0,1001,2023,Senior-level,Full-time,Data Analyst,93919,United States,M,data analytics,True,Onsite
1,1002,2023,Senior-level,Full-time,Data Analyst,51962,United States,M,data analytics,True,Onsite
2,1003,2023,Senior-level,Full-time,Data Analyst,93919,United States,M,data analytics,True,Onsite
3,1004,2023,Senior-level,Full-time,Data Analyst,51962,United States,M,data analytics,True,Onsite
4,1005,2023,Senior-level,Full-time,Data Architect,180000,United States,M,analytics architect,True,Remote

In [20]:
# replace company size with unabbreviated terms
replacements = {'S': 'Small', 'M': 'Medium', 'L': 'Large'}
df['company_size'] = df['company_size'].replace(replacements)
df.head()

,user_id,work_year,experience_level,employment_type,job_title,salary_in_usd,company_location,company_size,job_field,company_location_na,employment_mode
0,1001,2023,Senior-level,Full-time,Data Analyst,93919,United States,Medium,data analytics,True,Onsite
1,1002,2023,Senior-level,Full-time,Data Analyst,51962,United States,Medium,data analytics,True,Onsite
2,1003,2023,Senior-level,Full-time,Data Analyst,93919,United States,Medium,data analytics,True,Onsite
3,1004,2023,Senior-level,Full-time,Data Analyst,51962,United States,Medium,data analytics,True,Onsite
4,1005,2023,Senior-level,Full-time,Data Architect,180000,United States,Medium,analytics architect,True,Remote

In [21]:
#Write preprocessed data into a csv file for further use
df.to_csv("/content/drive/MyDrive/dataset/salaries_preprocessed.csv", index=False)

For further development, please use "salaries_preprocessed.csv" file

In [22]:
# df = pd.read_csv("/content/drive/MyDrive/dataset/salaries_preprocessed.csv")